.wall{
    -fx-background-color: black;
}
.box{
    -fx-background-color: brown;
}
.target{
    -fx-background-color: blue;
}
.floor,.player{
    -fx-background-color: white;
}
.playerBody{
    -fx-background-color: #1e90ff;
}
.playerHead{
    -fx-background-color: #ff7b1f;
}
.playerEyes{
    -fx-background-color: black;
}
.playerArms{
    -fx-background-color: #F4A460;
}
.playerName{
    -fx-background-color: rgba(51,51,51,1);
    -fx-translate-z: 5;
    -fx-text-fill:white;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}